---
title: "Asciinema Viewer"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/home-bg-b510adafe0913dc205bd96f64be8804d.jpg
  actions:
    - label: '<i class="fa fa-home" aria-hidden="true"></i><span class="label"> Asciinema</span>'
      url: "https://asciinema.org/"
  caption: "Photo credit: [**Asciinema**](https://asciinema.org/)"
excerpt: "[Visit Asciinema for more](https://asciinema.org/)"
intro:
- excerpt: "A Helm Chart to view and host your team's Asciinema Casts"

feature_row:
  - overlay_image: /assets/images/home-bg-b510adafe0913dc205bd96f64be8804d.jpg
    source: /asciinema-viewer/casts/demo.cast
    title: "Demo Cast"
    excerpt: "A `Feature Cast Row` showing off a single cast"
    url: "/posts"
    btn_label: "More Casts"
    btn_class: "btn--primary"
    width: 90

---

{% include feature_row id="intro" type="center" %}

{% include cast_feature_row type="center" %}
